@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #ffffcc;
}

body {
  padding: 0 calc(50% - 900px / 2);
}

.tasks {
  padding: 100px;
  display: flex;
  justify-content: space-evenly;

  a {
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 25px;
    padding: 15px;
    transition: 0.3s;

    &:hover {
      background-color: black;
      color: white;
    }
  }
}